#!/bin/sh

scp -i {{inputs.key_name}}.pem -o "StrictHostKeyChecking no" {{inputs.username}}@{{inputs.public_ip_address}}:~/{{inputs.logfile_path}} ./{{inputs.output_path}}   > /dev/null
if [ $? -eq "0" ]
then
    echo "[INFO] log file successfully imported"
    return 0
else
    echo "[ERROR] error in log transfer"
    return 1
fi